*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #001e4d;
}

.app{
    background: #fff;
    padding: 20px 20px 20px 20px;

}
.wrapper{
    padding-top: 90px;
}

.header-1{
       
        font-weight: 500;
        font-size: 2em;
        border-bottom: 1px solid #000;
       
        padding-bottom: 1.2em;
        font-family: poppins;
}
.answer-content{
    display: flex;
    flex-direction: column;
}

.answer-content button{
    text-align: left;
    border: 2px solid #001e4d;
    border-radius: 10px;
    padding: 10px;
    /* background-color: #fff; */
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.answer-content button:hover{
    background-color: #003b99;
    color: #fff;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    border: 0;
    margin: 20px auto 0;
    border-radius: 10px;
    display: block;
    width: 150px;


}
.answer-correct{
    background: #008000;
}

.answer-incorrect{
    background: #f08080;
}

button.answer-correct:disabled{
    background: #008000;
}

button.answer-incorrect:disabled{
    background: #f08080;

}  